@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    --cor-de-fundo:  hsl(271, 100%, 22%);
    --texto-principal: hsl(197, 100%, 30%);
    --texto-segundario: hsl(0, 100%, 21%);
    --font-family: "kanit", sans-serif;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto-principal);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--texto-principal);
    text-align: center;

}
h1{
    color: var(--cor-de-fundo);
    font-size:3rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 500;
}
nav a {
    text-decoration: none;
    color: var(--cor-de-fundo);
    margin: 0 3rem 2rem 0;
    font-size: 1.5rem;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(1.3);
    transition: transform 0.4s;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 1rem;
    font-size: 1.5rem;

}